$destra: #1E7AF7;
$centro-destra: #56CCF2;
$centro-sinistra: #F55B5B;
$sinistra: rgba(186,0,78,1);
$m5s: #FFDC73;

.bubbles-container {
  position: relative;
  width: 100%;

  ul.bubbles {
    margin: 0;
    padding: 0;
    width: calc(100% - 5px);
    position: relative;
    list-style: none;
    li {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #fff;;
      overflow: visible;
      border-radius: 50%;
      border: 2px solid #000;

      &.small {
        overflow: visible;
      }

      span {
        font-family: 'Crimson Text', serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        position: absolute;
        display: block;
        padding: 0;
        pointer-events: none;

        h2 {
          margin: 0;
          padding: 0;
          display: block;
          position: relative;
          font-size: inherit;
          line-height: inherit;
        }

        &.inside {
          border-radius: 50%;
          overflow: hidden;
          top:0;
          bottom:0;
          transform: translate(0,0);
          width: calc(100% - 20px);
          top: 50%;
          transform: translate(0,-50%);
          height: 100%;
          text-align: center;
          width: calc(100% - 30px);
          padding: 0;
          padding-left: 15px;

          h2 {
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &.top-title {
          color:#fff;
          width: 200px;

          text-align: center;
          left: 50%;
          transform: translate(-50%, 100%);
          bottom: -30px;

          font-size: 20px;
          line-height: 22px;
        }
        &.outside {
          width: 200px;
          right:-2px;
          top: 0;
          transform: translate(100%,-25%);
          text-align: left;
          border-top: 1px solid #888;
          display: none;
          background: rgba(255,255,255,0.9);
          padding: 10px;
          color: #333;
          h3 {
            padding: 0;
            margin: 0;
            color: #000;
          }
          h4 {
            padding: 0;
            margin: 0;
            margin-top: 10px;
          }
        }
      }

      &:hover {
        z-index: 99999;
        border-color: #fff;
        span.outside {
          display: block;
        }
      }

      .top-article-outer-circle {
        z-index: 999;
        position: absolute;
        background-color: rgba(255,255,255,0.1);
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.15;
      }

      .top-article-inner-circle {
        position: absolute;
        background-color: rgba(0,0,0,1);
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }

      &.top-articles {
        .inside {
          color: #fff;
          font-size: 20px;
          line-height: 22px;
        }
      }
    }
  }
  ul.timeline {
    margin: 0;
    padding: 0;
    width: calc(100% - 5px);
    height: 100%;
    position: absolute;
    top: 0;
    list-style: none;
    border-right: 1px solid #ddd;
    li {
      position: absolute;
      right: 0;
      font-size: 11px;
      color: #bdbdbd;
      padding-bottom: 2px;
      padding-right: 10px;
      border-bottom:1px solid #ddd;
      width: 100px;
      height: 14px;
      span {
        position: absolute;
        display: inline-block;
        background-color: #000;
        padding: 1px;
        height: 100%;
        top: 9px;
        width: calc(100% - 15px);
        text-align: right;
        padding-right: 5px;
      }
    }
  }
}
